body {
    font-family: "Helvetica", sans-serif;
    background: #F0F1F5;
    width: 1180px;
    margin: 0 auto;
    padding: 2rem 12rem;
    padding: 1rem;
}

header>p {
    float: left;
    color: #F9690E;
}

nav {
    text-align: right;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 0 8px;
}

nav ul li a {
    display: block;
    text-align:center;
    text-decoration: none;
    color: #F9690E;
}

main section:nth-child(1) {
    margin-top: 3rem;
    background-image: url("../Requirements-and-Resources/Images/picture.jpg");
    background-size: cover;
    background-position: center;
    padding: 11rem 15rem;
}

main section:nth-child(1) h1 {
    color: white;
}

main section:nth-child(1) span {
    color: #F9690E;
}

main section:nth-child(1) button {
    background: #F9690E;
    border: none;
    color: white;
    font-size: 22px;
    padding: 12px;
    font-weight: bold;
}

main section:nth-child(1) button:hover {
    background: white;
    color: #F9690E;
    cursor: pointer;
}

main section:nth-child(2) article {
    background: #F9690E;
    color: white;
    width: 366.374px;
    display: inline-block;
    padding: 12px;
}

main section:nth-child(2) h3 {
    text-align: center;
}

footer article {
    width: 49%;
    display: inline-block;
}

footer article:nth-child(2) {
    text-align: right;
}

footer i {
    padding: 16px;
}